[Unit]
Description=digital-paper-edit
After=network.target nss-lookup.target

[Service]
ExecStart=NODE_ENV=production /usr/bin/npm start
WorkingDirectory=/usr/lib/dpe-client
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=dpe-client
User=dpe-client
Group=dpe-client

[Install]
WantedBy=multi-user.target
