[Unit]
Description=digital-paper-edit-client
After=network.target

[Service]
ExecStart=/usr/bin/python server.py
Type=simple
Restart=on-failure
RestartSec=15s
WorkingDirectory=/usr/lib/digital-paper-edit-client

[Install]
WantedBy=multi-user.target