[Unit]
Description=digital-paper-edit-infrastructure
After=network.target nss-lookup.target

[Service]
ExecStart=/usr/bin/npm start
WorkingDirectory=/usr/lib/digital-paper-edit-infrastructure
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=digital-paper-edit-infrastructure
User=digital-paper-edit-infrastructur
Group=digital-paper-edit-infrastructur

[Install]
WantedBy=multi-user.target
