[Unit]
Description=digital-paper-edit
After=network.target nss-lookup.target

[Service]
ExecStart=NODE_ENV=production /usr/bin/npm start
WorkingDirectory=/usr/lib/digital-paper-edit
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=digital-paper-edit
User=digital-paper-edit
Group=digital-paper-edit

[Install]
WantedBy=multi-user.target
